<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Estilos.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3" id="nav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Segundo Parcial Libería</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Libroes" asp-action="Index">Libros</a>
                        </li>

                    </ul>
                    <button onclick="cambiarFondo();" style="background-color: brown; border-block-color: black; color: pink; ">Cambiar fondo </button> <!--Boton para cambiar el color de fondo-->
                    <!--Funcion para cambiar el color de fondo-->
                    <script>
                        function cambiarFondo() {
                            var cuerpo = document.body.style; //se obtiene el atributo style del elemento body
                            var encabezado = document.getElementById("nav"); //se obtiene el elemento nav para modificar el color del encabezado
                            if (cuerpo.backgroundColor == 'lightgray') { //si el fondo actuálmente es gris:
                                cuerpo.backgroundColor = 'black'; //cambiar el color de fondo del body a negro
                                encabezado.style.backgroundColor = 'black'; //cambiar el encabezado a negro
                            }
                            else { //caso contrario:
                                cuerpo.backgroundColor = 'lightgray'; //cambiar el color de fondo del body a gris
                                encabezado.style.backgroundColor = 'lightgray'; //cambiar el encabezado a gris
                            }
    
                        }
                    </script>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" id="pie">
            @*&copy;*@ 2021 - Segundo Parcial Librería

        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
