@{
    ViewData["Title"] = "Librería El Ateneo";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Yenny Ateneo</h1>

    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Yenny_Ateneo_Grand_Splendid.jpg" id="foto" /> <!--Se deja una sola foto que se modifica mediante javascript-->



    <p>
        El Ateneo Grand Splendid es una librería comercial ubicada en el barrio de Recoleta, Buenos Aires, Argentina.
        Destaca por situarse donde lo hiciera el teatro Grand Splendid,​ habiendo conservado la arquitectura original de dicho teatro,
        pero estando a su vez readaptado para funcionar como librería. Se encuentra en Avenida Santa Fe 1860, en el barrio de Recoleta.
        En 2008, fue elegida por el periódico británico The Guardian como la segunda librería más hermosa del mundo,
        y el 7 de enero de 2019 National Geographic la tituló la librería comercial más bella del mundo.
    </p>
    <button onclick="cambiarFoto();" style="background-color: brown; border-block-color: black; color: pink; display:inline-block;">Cambiar imagen </button> <!--Boton para cambiar fotos-->

    <!--Funcion para cambiar fotos-->
    <script>
        function cambiarFoto() { 
            var fotoActual = document.getElementById("foto"); //obtener el elemento con ID foto
            var sourceFotoActual = fotoActual.src; //extraer el valor del atributo "src" de la foto
            //Simplemente se salta mediante if y else entre las fotos existentes.
            if (sourceFotoActual == "https://upload.wikimedia.org/wikipedia/commons/a/ac/Yenny_Ateneo_Grand_Splendid.jpg") {
                fotoActual.src = "https://upload.wikimedia.org/wikipedia/commons/6/66/El_Ateneo_Bookstore.jpg";
            }
            else if (sourceFotoActual == "https://upload.wikimedia.org/wikipedia/commons/6/66/El_Ateneo_Bookstore.jpg") {
                fotoActual.src = "https://upload.wikimedia.org/wikipedia/commons/a/a2/El_Ateneo_bookstore_%285459414085%29.jpg";
            }
            else {
                fotoActual.src = "https://upload.wikimedia.org/wikipedia/commons/a/ac/Yenny_Ateneo_Grand_Splendid.jpg";
            }

        }
    </script>
</div>
